rabbit.host=
rabbit.port=
rabbit.apiport=
rabbit.vhost=/
rabbit.basepath=/api
rabbit.username=
rabbit.password=
rabbit.requestqueue=mam-update-requests
rabbit.responsequeue=mam-update-responses

mh.host=
mh.port=
mh.basepath=/mediahaven-rest-api/resources/media
mh.username=
mh.password=

ldap2mam.host=
ldap2mam.port=
ldap2mam.basepath=/api

es.host=
es.port=
es.basepath=/
es.index=mam_update_service